/* body {
  background: gray;
} */
.heading {
  color: red;
}

[testid="paragraph"] {
  color: coral;
}

[testid="hover-test"]:hover {
  color: green;
}

#google-link:link {
  color: black;
}

#google-link:visited {
  color: green;
}

/* adjacent sibling*/
h4 + p {
  color: purple;
}

#contact {
  color: green;
}
